* {
    font-family: "Microsoft YaHei Light";
}

body {
    box-sizing: border-box;
    background-color: #49a09d;
    padding: 0;
    margin: 0;
    color: white;

}
/*.mainBody{*/
/*    padding: 20px;*/
/*}*/

/*.mainBody_header{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/


/*.addUserButton{*/
/*    background-color: #55608f;*/
/*    border-style: none;*/
/*    color: white;*/
/*    padding: 10px;*/
/*    border-radius: 5px;*/
/*}*/

#contactTable {
    border-collapse: collapse;
    width: 35%;
    border: 1px solid white;
    margin: 20px auto 20px auto;
    box-shadow: 1px 2px 3px #5b5959;
}

#contactTable_head th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #55608f;
    text-align: start;
    font-size: 13px;
    margin-left: 20px;

}
#contactTable_head .contactTable_avtar{
    padding-left: 20px;

}


.contactTable_body_image {
    width: 50px;
    padding: 0 0 10px 0;

}

.contactTable_body {
    font-size: 15px;
}

.contactTable_body img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin: 15px 35px 15px 20px;

}

.contactTable_body tr:hover {
    background-color: #55608f;
}


